.table {
    position: relative;
    width: 550px;
    height: 275px;
    border-radius: 150px;
    background-color: #191c21; 
    border:2px solid #20795f;
    /* background-image: url('https://media.istockphoto.com/id/1092139474/pt/foto/empty-green-casino-poker-table-cloth-with-spotlight.jpg?s=1024x1024&w=is&k=20&c=Dae6Nn2sscqo77siG7KF15MRCJeNb7nJwNPLl7uqX1o='); */
    /* background-image: url('https://media.istockphoto.com/id/1046326882/pt/foto/poker-table.webp?s=1024x1024&w=is&k=20&c=fJA6vfSLxBTZ2OmzzS8IXromqP9rkmXuCRwULAQqP-s='); */
    background-image: url('../img/table2.png'); 
    background-size: cover;
    border:20px solid rgba(24, 23, 23, 0.932);
    box-shadow: 0 0 5px 0px;
    filter: drop-shadow(0 0 15px rgba(29, 204, 144,0.50)); 
    margin-top:-75px;
     opacity: 0.70; 
}

.table-in{
    position: absolute;
    width: 445px;
    height: 230px;
    border:1px solid rgba(255, 255, 255, 0.11);
    border-radius: 170px;
    margin-left: 50px;
    margin-top:20px;
    margin-right:40px;
    z-index: -1;
}

.player{
    position: relative;
    width:60px;
    height:60px;
    border-radius:50px;
    background-color: #2c3e50;
    background-color: transparent;
    border: 2px solid rgba(169, 169, 169, 0.623);/* rgba(161, 165, 167, 0.685);*/
    box-shadow: 0 0 15px 0px;
    filter: drop-shadow(1px 1px 1px rgba(238, 100, 8, 0.856)); 
}

.player div{
    position: absolute;
    width:65px;
    height:100px;
    background-color: #191c21;
    opacity: 0.75;
}

.p1{
    position: absolute;
    background-image: url('../img/players/p1.jpg');
    background-size: cover;
    left:calc(550px / 2 - (60px / 2) - 15px);
    top:calc(275px - 45px)
}

#bet div:first-child{
    width:100%;
    text-align: center;
}

#bet input{
    width:250px;
    margin-top:15px;
}

#bet div:nth-child(2){
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#bet div:nth-child(2) div{
   width:200px;
}

#bet div:nth-child(2) div:nth-child(2){
    width:100px;
    color:#29cc90;
    margin-top:10px;
    white-space: nowrap;
 }

 @media (max-width: 600px) {
	.table{
        height:475px;
        width: 300px;
        border-radius: 150px;
        margin-top:0px;
    }
    .table-in{
        margin: 23px; 
        height: 425px;
        width: 250px;
        border-radius: 120px;
    }
    

}

