body{
	background-color: #24272e;
    margin: 0;  
	font-family: Tahoma; 
	font-size:14px;
}

i{
	cursor:pointer;
}

.box:first-child {
	margin-top:-20px;
 } 

 .btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
	font-size:14px;
 }

 .btn-primary {
	color: #FFF;
	color:#29cc90;
	transition: all 0.5s;
	position: relative;
	margin-top: 10px;
	
 }

 .btn-primary:hover{
	background-color: rgba(29, 204, 144,0.15);
	color:white;
 }

 .btn-primary:active{
	background-color: rgba(29, 204, 144,0.30);
	
 }

 .btn-primary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border:1px solid rgba(29, 204, 144,0.5);
	transition: all 0.3s;
}

.btn-primary:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
	
}
.btn-primary::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(29, 204, 144,0.5);
	transform: scale(1.2,1.2);
}

.btn-primary:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.form{
	color:#29cc90;
}
.form td{
	padding:5px;
	text-align: right;
}

.form tr:last-child td{
	text-align: center;
}

.form input, .form select{
	height: 35px;
	border:1px solid #20795f;
	background-color: #24272e;
	color:#29cc90;
}

.form select{
	height:40px;
	 width:calc(100% - 12px); 
}

.form i{
	font-size:24px;
	cursor:pointer;
}

@-moz-document url-prefix() {
	.form select{
		width:calc(100% - 25px)
	}
  }


.form input:focus, .form select:focus{
	outline: 0;
	border:1px solid #29cc90;
}

.message{
	/* position: fixed;
	z-index: 1; */
	background-color: rgba(29, 204, 144,0.10);
	color:#29cc90;
	color:lightgray;
	text-align:center;
	width:calc(100% - 2px);
	height:50px;
	border:1px solid #20795f;
	font-size: 13px;
  }
  .message p{
	margin-top: 16px;
  }

 #header {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width:100%;
	height:50px;
}

#container {
	width: 100%;
	height: calc(100% - (50px + 165px + 100px));
	height: 75vh;
	position: absolute;
	/* margin-top:55px; */
	display: flex;   
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

#bet{
	position: absolute;
	width:calc(100% - 25px);
	bottom: 161px;
	left: 5px;
	height:115px;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 5; 
	border-top:1px solid #33343a;
	color:#29cc90;
	height:160px;
	width:100%;
	font-size:13px;
	font-family: courier;
}

#footer i:hover{
	color:white;
}

#footer input{
	width:calc(100% - 30px - 30px );
	background-color: #24272e;
	height:25px;
	border:0;
	outline: 0;
	color:#29cc90;
	margin-top:4px
}

#console{
	overflow-y: auto;
	height:120px;
	margin-left:10px;
	margin-top:5px;
}
#text-message{
	border-top:1px solid #33343a
}